.CurrencyLabel {
  display: inline;
  padding: 0;
  background-color: rgba(95, 55, 208, 0.15);
  border-radius: 4px;
  margin-right: 24px;
  cursor: default;

  .content {
    display: inline;
    position: relative;
    bottom: 7px;
    left: 9px;
  }
}